@font-face {
  font-family: "Inter";
  src: url("/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lemonada";
  src: url("/Lemonada-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #090a25;
  --color-secondary: #50218e;
  --color-accent1: #ff8185;
  --color-accent2: #ff575d;
  --color-highlight: #ffb4be;
  --color-shadow: #de5759;

  --font-heading: Lemonada, sans-serif;
  --font-body: Inter, arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
}

html {
  height: 100%;
}

body {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  min-width: 290px;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.nav {
  background-color: var(--color-secondary);
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  justify-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.nav__link__icon {
  filter: invert(1);
  width: 40px;
}
